## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Udachnyy,RU,66.4167,112.4000,34.45,46,100,6.31,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,62.91,88,75,13.80,broken clouds
2,2,Hilo,US,19.7297,-155.0900,84.27,75,75,8.05,broken clouds
3,3,Albany,US,42.6001,-73.9662,50.58,24,15,11.01,few clouds
4,4,Garmsar,IR,35.2182,52.3409,75.56,22,97,4.90,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hilo,US,19.7297,-155.0900,84.27,75,75,8.05,broken clouds
4,4,Garmsar,IR,35.2182,52.3409,75.56,22,97,4.90,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,80.58,84,75,13.80,light rain
7,7,Pak Chong,TH,14.7080,101.4161,75.81,81,96,3.51,light rain
10,10,Muktsar,IN,30.4833,74.5167,85.23,16,7,7.54,clear sky
12,12,Arraial Do Cabo,BR,-22.9661,-42.0278,80.46,69,0,11.50,clear sky
16,16,Santa Barbara,US,34.7333,-120.0343,71.29,44,0,11.50,clear sky
19,19,Jalu,LY,29.0331,21.5482,82.04,10,60,4.83,broken clouds
20,20,Wanning,CN,18.8003,110.3967,79.36,92,99,2.24,overcast clouds
27,27,Vaini,TO,-21.2000,-175.2000,78.96,69,40,12.66,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                275
City                   275
Country                274
Lat                    275
Lng                    275
Max Temp               275
Humidity               275
Cloudiness             275
Wind Speed             275
Current Description    275
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [7]:
preferred_cities_df.count()

City_ID                274
City                   274
Country                274
Lat                    274
Lng                    274
Max Temp               274
Humidity               274
Cloudiness             274
Wind Speed             274
Current Description    274
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hilo,US,84.27,broken clouds,19.7297,-155.0900,
4,Garmsar,IR,75.56,overcast clouds,35.2182,52.3409,
5,Kapaa,US,80.58,light rain,22.0752,-159.3190,
7,Pak Chong,TH,75.81,light rain,14.7080,101.4161,
10,Muktsar,IN,85.23,clear sky,30.4833,74.5167,
12,Arraial Do Cabo,BR,80.46,clear sky,-22.9661,-42.0278,
16,Santa Barbara,US,71.29,clear sky,34.7333,-120.0343,
19,Jalu,LY,82.04,broken clouds,29.0331,21.5482,
20,Wanning,CN,79.36,overcast clouds,18.8003,110.3967,
27,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}
# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data. 
   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #6e Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
         
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hilo,US,84.27,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Garmsar,IR,75.56,overcast clouds,35.2182,52.3409,مجتمع مرصاد
5,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Pak Chong,TH,75.81,light rain,14.7080,101.4161,PakChong Phubade Hotel
10,Muktsar,IN,85.23,clear sky,30.4833,74.5167,STARiHOTEL Muktsar Sahib
12,Arraial Do Cabo,BR,80.46,clear sky,-22.9661,-42.0278,Pousada Porto Praia
16,Santa Barbara,US,71.29,clear sky,34.7333,-120.0343,Upper Ballard Campground
19,Jalu,LY,82.04,broken clouds,29.0331,21.5482,صاحبة الفخامة
20,Wanning,CN,79.36,overcast clouds,18.8003,110.3967,Paradise Hotel
27,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df.isnull().count()

City                   274
Country                274
Max Temp               274
Current Description    274
Lat                    274
Lng                    274
Hotel Name             274
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))